<h2>Welcome, <%= current_admin.first_name %></h2>


<h3>Registerd applications</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Contact email</th>
      <th>Auth token</th>
      <th>Created at</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @key.each do |key| %>
      <tr>
        <td><%= key.application.contact_mail %></td>
        <td><%= key.auth_token %></td>
        <td><%= key.created_at %></td>
        <td>
          <%= link_to 'Show', api_key_path(key), :class => 'btn btn-mini' %>
          <%= link_to 'Revoke', edit_api_key_path(key), :method => :edit, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>